@model Nabavki.ViewModels.FirmaViewModel
@{
    ViewBag.Title = Model.Naziv;
}
<br />
<a href="/firmi/index" class="btn btn-info">Назад</a>
<br />

<h2>@Model.Naziv</h2>
<form action="/firmi/updateFirma" method="post">
    <input type="hidden" name="IdFirma" value="@Model.IdFirma">

    <div class="form-group">
        <label for="Naziv" id="sifra">Фирма:</label>
        @Html.TextBoxFor(x => x.Naziv, null, new { @class = "form-control", @placeholder = "Внеси назив" })
        @Html.ValidationMessageFor(x => x.Naziv)
    </div>
    <div class="form-group">
        <input type="submit" class="form-control btn btn-success" value="Потврди">
    </div>
</form>


@section scripts{

    @Scripts.Render("~/bundles/jqueryval")

}